<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="A site for recording details about parts"
    />
    <meta name="viewport" content="width=device_width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="bootstrap.min.css"
    />
    <script src="client.js"></script>

    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  </head>
  <body class="d-flex flex-column bg-dark text-center text-light align-items-center">
    {{{msg}}}
    <div class = "w-75 bg-secondary d-flex flex-column">
    <br />
    <div class = "w-100 bg-dark">
    <h1>Part Calculator</h1>
      </div>
    <br />
    <div class="d-flex flex-column align-items-center">
      <div class="row d-flex justify-content-center">
          <form>
            <div class="form-row">
              <input type="text" id="add_part" placeholder="Name of Part" />
              <select type="text" id="add_material">
                <option value = "error" selected disabled hidden>Select Material</option>
                <option>TPU</option>
                <option>PLA</option>
                <option>Steel</option>
                <option>Aluminum</option>
                <option>UHMW</option>
                <option>Foam</option>
              </select>
              <input type="text" id="add_quantity" placeholder="Quantity" />
              <input
                type="text"
                id="add_weight"
                placeholder="Weight per Unit"
              />
              <button class="btn btn-outline-light bg-dark" id="add_button">
                Add Part
              </button>
              <button class="btn btn-outline-light bg-dark" id="modify_button">
                Modify Part
              </button>
              <input type = "reset" class ="btn btn-outline-light bg-dark">
            </div>
            <input type = "radio" id = "ant" name = "robot_type" value = "Antweight">
            <label for = "ant" class = "text-white">Antweight</label>
            <input type = "radio" id = "beetle" name = "robot_type" value = "Beetleweight">
            <label for = "beetle" class = "text-white">Beetleweight</label>
          </form>
          <br />
      </div>
      <br />
      <div class="row w-100 d-flex">
        <table
          id="part_table_ant"
          class="table table-dark table-striped table-bordered table-hover"
        >
          <tr>
            <th>Part Name</th>
            <th>Material</th>
            <th>Quantity</th>
            <th>Weight</th>
          </tr>
          <tbody id="table_body_ant"></tbody>
        </table>
        <br />
        <table
          id="part_table_beetle"
          class="table table-dark table-striped table-bordered table-hover"
        >
          <tr>
            <th>Part Name</th>
            <th>Material</th>
            <th>Quantity</th>
            <th>Weight</th>
          </tr>
          <tbody id="table_body_beetle"></tbody>
        </table>
      </div>
      <div class="row d-flex">
          <form>
            <div class = "form-row">
            <input
              type="text"
              id="remove_part"
              placeholder="Part name to remove"
            />
            <button class="btn btn-outline-light bg-dark" id="remove_button">
              Remove Part
            </button>
            <input type = "reset" class ="btn btn-outline-light bg-dark">
              </div>
            <input type = "radio" id = "r_ant" name = "r_robot_type" value = "Antweight">
            <label for = "r_ant" class = "text-white">Antweight</label>
            <input type = "radio" id = "r_beetle" name = "r_robot_type" value = "Beetleweight">
            <label for = "r_beetle" class = "text-white">Beetleweight</label>
          </form>
      </div>
      <br />
      <div class="row d-flex">
        <img class = "img-fluid img-thumbnail border border-dark" width = "539" height = "403"
          src="https://cdn.glitch.global/7430d0d3-034f-42f9-aab8-408bf982427f/trex_50_1_50.webp?v=1712351879360"
          alt="Image of TRex robot CAD"
        />
        <img class = "img-fluid img-thumbnail border border-dark" width = "571" height = "368"
          src="https://cdn.glitch.global/7430d0d3-034f-42f9-aab8-408bf982427f/fracture_50_1_50.webp?v=1712352192367"
          alt="Image of Fracture robot CAD"
        />
      </div>
      </div>
          </div>
  </body>
</html>
