<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="../public/css/main.css">
    
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body class = "container">
  <h1>Project Management Application</h1>
  <h3>By Nicholas Whalen</h3>
  <p>Use this webapp to keep track of your current projects. To add a project, please enter a Name,
    the number of teammates you have, and how many points the project is worth. The app will automatically
    calculate the amount of points each teammate is responsible for earning.  </p>
  <p>To remove a project, please enter its name in the form below the table.</p>
  <div class = "container" id ="forms">
  <form>
    <label for="name">Name of the Project: </label><br/>
    <input type="text" id="name" value="" class="form"  required><br/>
    <label for="teammates">Number of Teammates: </label><br/>
    <input type="text" id="teammates" value="" class="form"  required><br/>
    <label for="points">Total Points:</label><br/>
    <input type="text" id="points" value="" class="form" required><br/>
    <br/>
    <button>submit</button>
  </form>
  </div>
  <div class="container" id="projects">
  <h2>Current Projects: </h2>
  <ul id="dataList" class="container"></ul>
  <form id="removeProject" method="POST">
    <label for="removeName">Remove a project:</label>
    <br/>
    <input type="text" id="removeName" name="removeName" class = "form">
    <button type="submit">Remove</button>
  </form>
  </div>
  <script src="../public/js/main.js"></script>


  </body>
</html>
