<html lang="en">
  <head>
    <script src="./js/main.js"></script>
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <form action="/login" method="POST">
      name: <input type="text" name="username" />
      password:<input type="password" name="password" value="password" />
      <input id="submit" type="submit" value="login" />
    </form>
    
    {{{msg}}}
    
  </body>
</html>