<header>
  <div class="container-md text-center">
    <h1>Ad-Hoc Time Entry</h1>
    <h2>Author: Spencer Greene</h2>
    <p>A simple system to enter/log time for independently contracted work.</p>
  </div>
</header>

<section id="login">
  <div class="container-md text-center">
    <h2>Please Log-In</h2>
    <p>Use of this system is for authorized users only. Please log in using the following methods below:</p>
    <a href="/auth/github">Login with GitHub</a>
  </div>
</section>