<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3 Main Content Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The main page to this website.">
    <script src="./js/main.js"></script>

    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body class = "bg-dark text-white" style="font-weight:bold;">
    <header class="navbar navbar-expand-lg bg-black">

      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <img src="/images/wpiLogo.png" height="50" alt="WPI Logo" loading="lazy"/>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <h4 class="my-auto"><a class="nav-link text-black" href="/">TT</a></h4>
            </li>
            <li class="nav-item">
              <h4 class="my-auto"><a class="nav-link text-white" href="/">Index/Login</a></h4>
            </li>
            <li class="nav-item mx-2">
              <h2 class="mt-1"><b>//</b></h2>
            </li>
            <li class="nav-item">
              <h4 class="my-auto"><a class="nav-link text-white" href="/main.html">Main</a></h4>
            </li>
          </ul>
          
          <p class="my-auto"><b>{{{msg}}}</b></p>
        </div>
      </div>
    </header>

    
    <div class = "pt-4 pb-2 mx-auto mt-4 rounded" style="width:80%;background-color:#032050">
      <h2 class="text-center"><b>User's Book Completion List</b></h2>
    </div>
    
    <div class = "d-flex justify-content-around flex-row m-auto pb-4 pt-3 rounded" style="width:80%;background-color:#032050">
      <div id = "addForm" class = "px-3 py-4 bg-black mt-3 rounded" style="width:30%;">
        <h3 class="bg-black p-3 rounded"><b>Add a Book to the Table</b></h3>
        <form id = "formOne" class="d-flex flex-column">

          <div class="form-group pb-2">
            <label for="title">Book Title: </label>
            <textarea class="form-control" id="title" placeholder="Book title here" required></textarea>
          </div>

          <div class="form-group pb-2">
            <label for="author">Book Author: </label>
            <input type="text" class="form-control" id="author" placeholder="Book author here" required>
          </div>

          <div class="form-group pb-2">
            <label for="fiction">Fiction</label>
            <input type="radio" id="fiction" name="genre" value="Fiction">  |  

            <label for="nonfiction">Non-Fiction</label>
            <input type="radio" id="nonfiction" name="genre" value="Non-Fiction">  |  
            
            <label for="other">Other</label>
            <input type="radio" id="other" name="genre" value="other">
          </div>
          
          <div class = "form-group pb-2">
            <label for="pagenum">Page Count: </label>
            <input type="number" id="pagenum" placeholder="0" required>
          </div>

          <div class = "form-group pb-2">
            <label for="dateread">Date Completed:</label>
            <input type="date" id="dateread" name="dateread">
          </div>

          <button id = "buttonAdd"  class="btn btn-success w-25">Add Book</button>
        </form>
      </div>

      <div id = "deleteForm" class = "px-3 py-4 bg-black mt-3 rounded" style="width:32%;">
        <h3 class="bg-black p-3 rounded"><b>Remove a Book from the Table</b></h3>
        <form id = "formTwo">
          <div class="form-group pb-2">
            <label for="id">Book ID:</label>
            <input type="text" id="id" placeholder="0"  class="form-control" required>
          </div>
          
          <button id = "buttonRemove"  class="btn btn-danger">Delete Book</button>

        </form>
      </div>

      <div id = "editForm" class = "px-3 py-4 bg-black mt-3 rounded" style="width:30%;">
        <h3 class="bg-black p-3 rounded"><b>Edit an Existing Book.</b></h3>
        <form id = "formThree" class="d-flex flex-column">

          <div class="form-group pb-2">
            <label for="idEdit">Book ID:</label>
            <input type="text" id="idEdit" placeholder="0" class="form-control" required>
          </div>

          <div class="form-group pb-2">
            <label for="titleEdit">Book Title: </label>
            <textarea class="form-control" id="titleEdit" placeholder="Book title here" required></textarea>
          </div>

          <div class="form-group pb-2">
            <label for="authorEdit">Book Author: </label>
            <input type="text" class="form-control" id="authorEdit" placeholder="Book author here" required>
          </div>

          <div class="form-group pb-2">
            <label for="fictionEdit">Fiction</label>
            <input type="radio" id="fictionEdit" name="genreEdit" value="Fiction"> | 

            <label for="nonfictionEdit">Non-Fiction</label>
            <input type="radio" id="nonfictionEdit" name="genreEdit" value="Non-Fiction"> | 
            
            <label for="otherEdit">Other</label>
            <input type="radio" id="otherEdit" name="genreEdit" value="other">
          </div>
          
          <div class = "form-group pb-2">
            <label for="pagenumEdit">Page Count: </label>
            <input type="number" id="pagenumEdit" placeholder="0" required>
          </div>

          <div class = "form-group pb-2">
            <label for="datereadEdit">Date Completed:</label>
            <input type="date" id="datereadEdit" name="dateread">
          </div>

          <button id = "buttonEdit" class="btn btn-warning w-25">Edit Book</button>
        </form>
      </div>
    </div>
    
    <div id = "outerDiv" class="m-auto p-5 rounded" style="width:80%;background-color:#032050">
      <div id = "resultsTable" class="bg-black p-4 rounded">
        <h3 class="bg-black p-3 rounded"><b>Your Completed Books</b></h3>
        <table id = "booksTable" class="table table-striped table-dark table-bordered table-hover">

        </table>
      </div>
    </div>

    <script src="./js/bootstrap.min.js"></script>

  </body>
</html>
