  .delete{
    background:url('../img/bin.png') no-repeat 0 0;
    width: 40px;
    height: 40px;
    background-size:34px;
    border:0;
  }
  
  .refresh{
    background:url('../img/refresh.png') no-repeat 0 0;
    width: 40px;
    height: 40px;
    background-size:34px;
    border:0;
  }

 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1;
  }

.inputcontainer{
    display:flex;
    flex-direction:row;
    margin-left:5%;
    margin-right:5%;
}

label{
    min-width:10%;
}