body {
  background:rgb(255, 255, 255);
  color:rgb(143, 220, 243);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#addButton {
  background: rgb(141, 234, 158);
  border-radius: 10px;
  width:fit-content;
  height: fit-content;
  font-size: 20px;
}

#clearButton {
  background: rgb(243, 95, 27);
  border-radius: 10px;
  width:fit-content;
  height: fit-content;
  font-size: 20px;
}

#itemsList {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 0px;
}

#listTitle {
  color: black;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}

#dataTable {
  margin-left: 20px;
  border: 1px solid black;
  border-collapse: collapse;
}

#thMain, td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 20px;
  color: black;
  background-color: bisque;
}

#thDerived, #tdDerived {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 20px;
  color: black;
  background-color: rgb(200, 241, 162);
}

#thTitle {
  color: black;
  font-size: 20px;
}

#defaultText {
  color: black;
  font-size: 20px;
}

#edit-form {
  padding: 20px;
  border: 1px solid #000000;
  background-color: #f8f8f8;
  color: #000000;
}

#modal {
  position: fixed; 
  top: 20;
  left: 20;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* To center the form */
  align-items: center;
  justify-content: center;
}

#appHeader {
  width: 100%; 
  padding: 10px;
  background-color: #f0f0f0; /* Example background color */
  display: flex; /* Use flexbox for easy alignment */
  justify-content: flex-end; /* Align items to the right */
}

#userInfo {
  margin-right: 20px; /* Add right margin */
}

#username {
  margin-right: 10px; /* Right margin for the username */
}

.logoutButton {  /* Common styles for the logout button */
  background-color: #dc3545; /* Example red background */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
