@font-face {
    font-family: "Flamenco";
    src: url(Flamenco-Regular.ttf) format("truetype");
}

* {
    font-family: "Flamenco";
}

body {
    background: rgb(255, 218, 183);
    color: rgb(32, 32, 32);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item {
    padding-bottom: 2em;
    text-align: center;
}

table {
    width: 600px;
    border: solid;
}

th,
td {
    text-align: center;
    border: solid;
}

th {
    font-size: xx-large;
}

input,
td {
    font-size: x-large;
}

button {
    font-size: x-large;
    color: white;
}

#add {
    background-color: green;
}

#remove {
    background-color: red;
}

#modify {
    background-color: purple;
}