body {
  font-family: "Roboto", Arial, sans-serif;
  background: #0288d1;
  color: white;
  box-sizing: border-box;
  margin: 0;
}

#input-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.label-text {
  color: #040404;
}

#input-form {
  width: 50%;
  height: 20vh;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#task-input {
  border: 0.01rem solid black;
  border-radius: 0.4em;
  height: 2em;
  align-self: stretch;
}

#due-date-wrapper label {
  padding-right: 1rem;
}

#due-date-wrapper input {
  padding-right: 1rem;
  cursor: pointer;
  border: 0.01rem solid black;
}

button {
  background-color: #f5f5f5;
  border: 0.01rem solid black;
  border-radius: 0.4em;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

#input-form button {
  width: 30%;
  height: 2rem;
}

#data-display-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

#task-table {
  border-collapse: collapse;
  border: 2px solid black;
  letter-spacing: 1px;
}

th,
td {
  border: 1px solid black;
  padding: 8px 10px;
}
