body {
    padding: 20px;
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#color-selector {
    width: 10vw;
    cursor: pointer;
}

#draw-plane {
    display: grid;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

input[type="submit"] {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-color: var(--pico-muted-border-color);
    width: 100%;
    height: 100%;
    transition: 0.2s linear filter;
}
input[type="submit"]:hover {
    filter: invert(35%);
}

.grid {
    cursor: pointer;
}

#status-msg {
    user-select: none;
    opacity: 0;
    transition: 3s ease-in opacity;
}

#status-msg.editing {
    transition: none;
    opacity: 1;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 15%;
    height: 100vh;
    padding-top: 20px;
    display: grid;
}

hr {
    width: 100%;
    height: 4px;
    background-color: var(--pico-h3-color);
    border-radius: 5px 0 0 5px;
}

#change-list {
    overflow-y: auto;
}

.change {
    background-color: #0b0b12;
    padding: 10px;
    margin-bottom: 10px;
}

.change-color {
    font-size: 20pt;
    text-shadow: 0 0 4px #000000;
}